
#NOTE: dont forget to chown storage and cf volumes to www user 1011
services:
  mikopbx:
    # container_name: "mikopbx"
    image: "mikopbx/mikopbx"
    # network_mode: "host"
    # cap_add:
    #   - NET_ADMIN
    # entrypoint: "/sbin/docker-entrypoint"
    volumes:
      - cf:/cf
      - storage:/storage
    tty: true
    ports:
      - 5060:5060/udp
      - 10000-10050:10000-10050/udp

    #https://docs.mikopbx.com/mikopbx/english/setup/docker/running-mikopbx-in-container
    environment:

      - RTP_PORT_FROM=10000
      - RTP_PORT_TO=10050

    labels:
      - traefik.enable=true
      
      #https
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-https.entrypoints=websecure
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-https.rule=${TRAEFIK_RULE}
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-https.tls.certresolver=myzerossl 
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-https.tls=true
      - traefik.http.services.${COMPOSE_PROJECT_NAME}-https.loadbalancer.server.port=80
    networks:
      - proxynet
      - default
    restart: unless-stopped

volumes:
  cf:
    driver: zfs
  storage:
    driver: zfs
  

networks:
  proxynet:
    name: proxynet
